<!DOCTYPE html>
<html>
  <head>
    <title>BlogEx4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# connection boot-strap %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  
  <body>
  
      <div class= "container">
          <div class="row">
          <nav class="navbar navbar-dark bg-dark">
            <div class='col-1'></div>
            <div class="col-2">
              <%=link_to 'Rails-blog', articles_path, class: "navbar-brand", style: 'font-size: 180%' %>
            </div>
            <div class='col-1'>
              <%=link_to 'Contact us', new_contacts_path, class: "navbar-nav", style: 'color: #BEBEBE' %>  
            </div>
            <div class='col-7'></div>
            <div class="col-1" >
              <%if user_signed_in?%>
              <%=button_to "#{current_user.name} EXIT", destroy_user_session_path, method: :delete,
                                                                          class: 'btn btn-success'%>
              <%else%>
              <%=button_to 'Login', new_user_session_path, method: :get, class: 'btn btn-danger'%>
              <%end%>
              </div>
          </nav>
          </div> <%#row closed%> 
        </div> <%#container closed%>
        
        <div class='container'>
          <%= yield %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
    
  </body>
</html>


